h1, h2{
    font-family: "Oswald";
    color: darkblue;
}
p{
    font-family: "Open Sans";
    color: darkblue;
}
body{
    margin:10px 50px 10px 50px ;
    width: 950px;
    background-color: ivory;
}
img{
    float: left;
    margin-right: 7px;
}