h1, h2{
    font-family: "Oswald";
    color: yellow;
}
p{
    font-family: "Open Sans";
    color: yellow;
}
body{
    margin:10px 50px 10px 50px ;
    width: 950px;
    background-color: black;
}
ul{
    list-style-type: none;
    padding-inline-start: 0%;
}
li{
    display: inline;
}
 #navbar{
    display: flex;
    justify-content: left;
}
